<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
  <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
  <title>Create new blog</title>

</head>

<body>
  <header class="header">
    <h1>Bloggy</h1>
    <input type="search" placeholder="Search...">
    <nav>
      <a href="/">Home</a>
      <a href="#">About</a>
    </nav>
  </header>

  <section class="form-section">
    <h1>Create a New Blog Post</h1>
    <form enctype="multipart/form-data" action="/newPost/" method="POST">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" /><br /><br />
      <label for="description">Description:</label>
      <input type="text" id="description" name="description" /><br /><br />
      <label>Upload image
        <input type="file" name="images" accept="image/png, image/jpeg" id="imageInput" />
      </label><br /><br />
      <div class="img-container">
        <img id="imagePreview" style="max-width: 100%;" />
      </div>
      <label for="content">Content:</label><br />
      <textarea id="content" name="content"></textarea>

      <br /><br />
      <input id="submitButton" type="submit" value="Submit" />
    </form>
  </section>
  <script src="src/create-blog.js"></script>
</body>
</html>