<!DOCTYPE html>
<html lang="en" datatheme="bumblebee">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
  <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <title>Create new blog</title>

</head>

<body class="bg-base-300">

  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </div>
      </div>
      <a href="/" class="btn btn-ghost text-xl">Bloggy</a>
    </div>
    <div class="navbar-center hidden lg:flex">
    </div>
  </div>

  <section class="form-section">
    <h1>Create a New Blog Post</h1>
    <form enctype="multipart/form-data" action="/newPost/" method="POST">


      <label for="title">Title:</label>
      <input type="text" id="title" name="title" /><br /><br />
      <label for="description">Description:</label>
      <input type="text" id="description" name="description" /><br /><br />
      <label>Upload image
        <input type="file" name="images" accept="image/png, image/jpeg" id="imageInput" />
      </label><br /><br />
      <div class="img-container">
        <img id="imagePreview" style="max-width: 100%;" />
      </div>
      <label for="content">Content:</label><br />
      <textarea id="content" name="content"></textarea>
      <script>
        var easyMDE = new EasyMDE({
          element: document.getElementById('content')
        });
      </script>
      <br />
      <div class="g-recaptcha" data-sitekey="6LeAepopAAAAADJceMdR6hc775TYyB6TGQgr1CGd"></div>
      <br />
      <input id="submitButton" type="submit" value="Submit" />
    </form>
  </section>
</body>

</html>