<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bloggy</title>
</head>

<body>
  <h1>Bloggy</h1>
  <h3>Post Test</h3>
  <% posts.forEach(function(post) { %>
    <p>
      <strong>Title:</strong>
      <%= post.title %><br>
        <strong>Content:</strong>
        <%= post.content %>
    </p>
    <% }); %>
</body>

</html>