<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.typekit.net/rko3hnw.css">
  <link rel="stylesheet" href="style.css">
  <title>Bloggy</title>
</head>

<body>
  <header class="header">
    <h1>Bloggy</h1>
    <input type="search" placeholder="Search...">
    <nav>
      <a href="#">Create</a>
      <a href="#">About</a>
    </nav>
  </header>
  <div class="posts">
    <section class="featured">
      <div class="featured-image-container">
        <img src="https://placehold.co/600x400/EEE/31343C" alt="Featured Blog Post Image">
      </div>
      <div class="featured-text-container">
        <% if (post) { %>
          <p>
            <%= post[0].author_name %>
          </p>
          <p>
            <% let date=new Date(post[0].created_at); let formattedDate=date.toLocaleDateString('en-US', { month: 'long'
              , day: 'numeric' , year: 'numeric' }); %>
              <%= formattedDate %>
          </p>
          <h2>
            <%= post[0].title %>
          </h2>
          <div class="featured-description">
            <p>
              <%= post[0].post_description %>
            </p>
          </div>


          <!-- rest of your code -->
          <% } else { %>
            <p>Post not found.</p>
            <% } %>
      </div>
    </section>
  </div>
</body>

</html>