<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.typekit.net/rko3hnw.css">
  <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
  <link rel="stylesheet" href="/style.css">
  <title>Sign Up - Bloggy</title>

</head>

<body>
  <header class="header">
    <a href="/">
      <h1>Bloggy</h1>
    </a>
    <input type="search" placeholder="Search...">
    <nav>
      <a href="/">Home</a>
      <a href="https://github.com/TaylorMerwin/bloggy">About</a>
    </nav>
  </header>

  <section>
    <h1>Create a new account!</h1>
    <form action="/registerAction/" method="post">
      <input type="text" name="username" placeholder="Username" required>
      <input type="text" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit">Create</button>
    </form>
  </section>