<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.typekit.net/rko3hnw.css">
  <link rel="stylesheet" href="style.css">
  <title>User Info</title>
</head>

<body>
  <header class="header">
    <h1>Bloggy</h1>
    <input type="search" placeholder="Search...">
    <nav>
      <a href="/create">Create</a>

      <a href="/logout">Logout</a>
    </nav>
  </header>
  <div class="user-info">
    <h2>User Info</h2>
    <p>Username
    <p>Email</p>
    <p>Favorite Color</p>
    <p>Mothers maiden name</p>
    <p>Favorite food</p>

</body>

</html>