<!DOCTYPE html>
<html lang="en" datatheme="sunset">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/style.css" />
  <title>Bloggy</title>
</head>

<body class="bg-base-300">
  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
          <li><a>Item 1</a></li>
          <li>
            <a>Parent</a>
            <ul class="p-2">
              <li><a>Submenu 1</a></li>
              <li><a>Submenu 2</a></li>
            </ul>
          </li>
          <li><a>Item 3</a></li>
        </ul>
      </div>
      <a class="btn btn-ghost text-xl">bloggy</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a>Item 1</a></li>
        <li>
          <details>
            <summary>Parent</summary>
            <ul class="p-2">
              <li><a>Submenu 1</a></li>
              <li><a>Submenu 2</a></li>
            </ul>
          </details>
        </li>
        <li><a>Item 3</a></li>
      </ul>
    </div>
    <div class="navbar-end">
      <a class="btn btn-outline btn-primary" href="/create/">Create Post</a>
    </div>
  </div>



  <% post.slice().forEach(function(post) { %>


    <div class="container mx-auto p-8">
      <article class="prose ">
        <div class="flex justify-center overflow-hidden">
          <img src="https://storage.googleapis.com/bloggy-images/<%=post.image_path%>" alt="Article Image" />
        </div>

        <h1>
          <%=post.title %>
        </h1>
        <div>
          <h3>
            <% let date=new Date(post.created_at); let formattedDate=date.toLocaleDateString('en-US', { month: 'long' ,
              day: 'numeric' , year: 'numeric' }); %>
              <%= post.author_name + " published this on " + formattedDate%>
          </h3>
          <br>
        </div>

        <!-- This is where the blog text will go! -->
        <!-- md-block will autoformat the plain text into stylized text from MD syntax-->

        <md-block>
          <%= post.content %>
        </md-block>
      </article>
    </div>
    <% }); %>

      <!-- Imported Library that adds md-blocks-->
      <script type="module" src="https://md-block.verou.me/md-block.js"></script>
</body>

</html>